In [2]:
cd D:\Darvin\python training

D:\Darvin\python training

In [3]:
import pandas as pd
data=pd.read_csv('admission.csv')
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,state_purpose,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,1
1,2,324,107,4,4.0,4.5,8.87,1,1
2,3,316,104,3,3.0,3.5,8.00,1,1
3,4,322,110,3,3.5,2.5,8.67,1,1
4,5,314,103,2,2.0,3.0,8.21,0,0

In [4]:
from sklearn import model_selection
x=data.iloc[:,1:8]
y=data.iloc[:,8]
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,test_size=0.3,random_state=1)
k_fold=model_selection.KFold(n_splits=5,random_state=1)
from sklearn import tree
model=tree.DecisionTreeClassifier()
results=model_selection.cross_val_score(model,x_train,y_train,cv=k_fold)
print(results)

D:\anaconda\lib\site-packages\sklearn\model_selection\_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

[0.81428571 0.85714286 0.7        0.7        0.77142857]

In [5]:
from sklearn.ensemble import AdaBoostClassifier
model1=AdaBoostClassifier(n_estimators=30, random_state=7)
results=model_selection.cross_val_score(model1,x_train,y_train, cv=k_fold)
print(results)

[0.85714286 0.85714286 0.84285714 0.77142857 0.82857143]

In [7]:
from sklearn import model_selection
x=data.iloc[:,1:8]
y=data.iloc[:,8]
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,test_size=0.3,random_state=1)
k_fold=model_selection.KFold(n_splits=5,random_state=1)
from sklearn import tree
model=tree.DecisionTreeClassifier(x_train,y_train)
results=model_selection.cross_val_score(model,x_train,y_train,cv=k_fold)
results

D:\anaconda\lib\site-packages\sklearn\model_selection\_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
D:\anaconda\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

  FitFailedWarning)
D:\anaconda\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

  FitFailedWarning)
D:\anaconda\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

  FitFailedWarning)
D:\anaconda\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

  FitFailedWarning)
D:\anaconda\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

  FitFailedWarning)

array([nan, nan, nan, nan, nan])